/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
  }
  
header {
  background-color: #1E202B;
  color: white;
}

.hero {
  background-size: cover;
  padding: 80px 0;
}

.hero form input[type="text"] {
  width: 90%;
  height: 25px;
  padding: 20px;
  font-size: 1rem;
  border-radius: 24px;
}

.hero button {
  height: 40px;
  font-size: 1rem;
  border-radius: 24px;
}

/* Geolocalização */
.map-overlay {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 10px;
}

.map-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 24px;
}

.location-button {
  margin-top: -30% !important;
  border-radius: 24px;
  padding: 10px 30px;
}

/* Resultados da previsão */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card .degree {
  font-size: 3rem;
  font-weight: bold;
}

.forecast-card {
  min-height: 550px !important; /* Define a altura mínima */
}

.bg-light-gray {
  background-color: #262936; /* Cor cinzenta clara */
}
  
footer {
  background-color: #343a40;
  color: white;
}

footer p {
  font-size: 1rem;
  margin: 0;
}
